.w-45 {
    width: 45% !important;
}

.form-block {
    background-color: rgba(161, 215, 211, 0.49);
    padding: 10px;
    margin: 20px 0 60px;
    border-radius: 20px;
}

.form-block h4 {
    margin-left: 10px;
}

.form-control {
    padding: 0 0 0 5px;
}

.select-wrap {
    margin: 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-wrap select {
    font-size: 12px;
    text-align: center;
}

.input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-wrap input {
    flex-basis: 20%;
}

.transport-width {
    flex-basis: 20%;
}

.country-width {
    flex-basis: 25%;
}

.season-width {
    flex-basis: 15%;
}

.group-width {
    flex-basis: 15%;
}

.block-header-wrap {
    display: flex;
    justify-content: space-between;
    padding-right: 11px;
    align-items: baseline;
}
