p {
    margin: 0;
    padding: 0;
}

#alert {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: rgb(255, 216, 216);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#alert p {
    padding: 50px 0;
}

#success {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: rgb(191, 248, 178);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#success p {
    padding: 50px 0;
}

.filter-button {
    margin-top: 1px;
    border: 1px solid lightblue;
    border-radius: 5px;
}

.filter {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
    padding: 20px;
}

.filter button {
    float: right;
}

.card-wrap {
    margin: 0 auto 20px;
    max-width: 450px;
    border-radius: 20px;
}

.img-container {
    background-color: beige;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
    overflow: hidden;
    border-bottom: 2px solid grey;
    margin-bottom: 5px;
}

.img-container img {
    margin: auto;
    display: block;
    max-width: 450px;
    max-height: 300px;
    height: inherit;
}

.channels {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding-bottom: 5px;
}

.channels span {
    background-color: rgba(128, 128, 128, 0.32);
    padding: 0 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.info-container {
    min-height: 160px;
    padding: 10px 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.left-col, .right-col {
    flex-basis: 50%;
}

.left-col {
    border-right: 1px solid lightgrey;
}

.right-col {
    text-align: right;
}

.reserved {
    cursor: pointer;
    display: inline;
    background-color: rgba(211, 211, 211, 0.32);
    padding: 0 2px;
    border-radius: 5px;

}

.reserved-info {
    margin: 0 auto;
    padding: 0 5px;
    display: none;
    background-color: #ececec;
    position: absolute;
    z-index: 2;
    font-size: 12px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    max-width: 200px;
}

.reserved-info p {
    border-bottom: 1px solid grey;
}

.reserved-info p:last-child {
    border: none;
}

.rating-container {
    margin-top: 10px;
}

.rating-mark {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.rating-form {
    padding: 0 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.admin-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.admin-button {
    width: 200px;
    margin-bottom: 10px;
}

.comments {
    display: none;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    padding: 0 15px;
}

.comments-count {
    position: absolute;
    width: 13px;
    height: 13px;
    margin-left: 3px;
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    line-height: 14px;
    padding-right: 1px;
    font-size: 10px;
}

.new-comment {
    overflow: hidden;
    margin-bottom: 20px;
}

.new-comment textarea {
    border: 1px solid lightblue;
    width: 100%;
}

.new-comment button {
    float: right;
    margin-top: 5px;
}

.comment-body h5 {
    padding: 0;
    margin-bottom: 0;
}

.comment-body {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.reserve-container {
    position: relative;
}

.reserve-form-container {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 2;
}

.reserve-form-container input {
    display: inline;
    width: 122px;
}

.reserve-button {
    margin-top: -3px !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #FFFAFA;
    border-radius: 5px;
    border: 0.2px solid #FFF5EE;
}

input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: transparent;
    background: url("../storage/images/star.png") center/30px no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFE4E1;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #FFFAFA;
    border-radius: 5px;
    border: 0.2px solid #FFF5EE;
}

input[type=range]::-moz-range-thumb {
    height: 30px;
    width: 30px;
    background-color: transparent;
    background: url("../storage/images/star.png") center/30px no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FFFAFA;
    border-radius: 5px;
    border: 0.2px solid #FFF5EE;

}

input[type=range]::-ms-fill-upper {
    background: #FFFAFA;
    border-radius: 5px;
    border: 0.2px solid #FFF5EE;
}

input[type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
    background-color: transparent;
    background: url("../storage/images/star.png") center/30px no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FFE4E1;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FFE4E1;
}
